<div [@routerTransition]>
    <h2 class="orangeText">Powering <br><small>the Smart Home</small></h2>
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-10 pull-right hd">
            <img id="imgSmartHomeSVG" class="img-responsive smartHomeI" src="/assets/images/SmartHome_InteractiveGraphic.svg?v=184317" style="border-width:0px;">
                
                
            <div class="divPlus door-bell-camera">
                <img src="/assets/images/Orange_Circle.svg?v=184317">
            </div>
            <div class="descBlock doorBellCamera">
                <div class="dbClose"></div>
                <div class="dbTitle">
                    <img src="/assets/images/icn-doorbell.svg?v=184317">Doorbell Camera</div>
                <div class="dbContent">See who's at the door with live video and two-way voice. If you’re not home, you can speak to your visitor
                    and even unlock the door for your trusted guests.</div>
            </div>
            <!--SMART LOCK -->
            <div class="divPlus smart-lock">
                <img src="/assets/images/Orange_Circle.svg?v=184317">
            </div>
            <div class="descBlock smartLock">
                <div class="dbClose"></div>
                <div class="dbTitle">
                    <img src="/assets/images/icn-lock-locked.svg?v=184317">Smart Lock</div>
                <div class="dbContent">Eliminate the need for keys with smart locks. Give each user their own lock code, remotely lock or unlock
                    the door through your app, and get a notification whenever a user unlocks the door.</div>
            </div>
            <!-- SECURITY PANEL -->
            <div class="divPlus security-panel">
                <img src="/assets/images/Orange_Circle.svg?v=184317">
            </div>
            <div class="descBlock securityPanel">
                <div class="dbClose"></div>
                <div class="dbTitle">
                    <img src="/assets/images/icn-security.svg?v=184317">Security Panel</div>
                <div class="dbContent">With a variety of panels to choose from, you can take advantage of features such as two-way voice for
                    emergency response, and severe weather alerts that notify you if dangerous conditions are detected
                    nearby. Alarm.com’s Crash &amp; Smash technology ensures that your system will still work even if
                    the panel is smashed.</div>
            </div>
            <!-- SMART THERMOSTAT -->
            <div class="divPlus smart-thermostat">
                <img src="/assets/images/Orange_Circle.svg?v=184317">
            </div>
            <div class="descBlock smartThermostat">
                <div class="dbClose"></div>
                <div class="dbTitle">
                    <img src="/assets/images/icn-feature-thermostat.svg?v=184317">Smart Thermostat</div>
                <div class="dbContent">You can keep the family room comfortable on the weekend, make sure the nursery is exactly the right temperature
                    at naptime, and have the whole house drop to a savings setting when nobody is there. The Smart Thermostat
                    uses all the security sensors around the home so it can automatically respond to different conditions
                    and activities.</div>
            </div>
            <!-- IMAGE SENSOR -->
            <div class="divPlus image-sensor">
                <img src="/assets/images/Orange_Circle.svg?v=184317">
            </div>
            <div class="descBlock imageSensor">
                <div class="dbClose"></div>
                <div class="dbTitle">
                    <img src="/assets/images/icn-image-sensor.svg?v=184317">Image Sensor</div>
                <div class="dbContent">See what’s happening when motion is detected. The image sensor snaps a picture and sends it to you, so
                    you’ll know what’s happening.</div>
            </div>
            <!-- SMOKE & CO DETECTORS -->
            <div class="divPlus smoke-detector">
                <img src="/assets/images/Orange_Circle.svg?v=184317">
            </div>
            <div class="descBlock smokeDetector">
                <div class="dbClose"></div>
                <div class="dbTitle">
                    <img src="/assets/images/icn-w-smoke.svg?v=184317">Smoke &amp; CO Detectors</div>
                <div class="dbContent">Protect your family with safeguards for dangerous conditions. In the event of fire, the system signals
                    for emergency response. If carbon monoxide is detected, it shuts down the HVAC to limit the circulation.</div>
            </div>
            <!-- GARAGE DOOR CONTROL -->
            <div class="divPlus garage-door">
                <img src="/assets/images/Orange_Circle.svg?v=184317">
            </div>
            <div class="descBlock garageDoor">
                <div class="dbClose"></div>
                <div class="dbTitle">
                    <img src="/assets/images/icn-garage-closed.svg?v=184317">Garage Door Control</div>
                <div class="dbContent">Always forgetting to close the garage? Get an alert if the garage is left open, and close it from your
                    app.</div>
            </div>
            <!-- VIDEO CAMERA -->
            <div class="divPlus video-camera">
                <img src="/assets/images/Orange_Circle.svg?v=184317">
            </div>
            <div class="descBlock videoCamera">
                <div class="dbClose"></div>
                <div class="dbTitle">
                    <img src="/assets/images/icn-video.svg?v=184317">Video Camera</div>
                <div class="dbContent">Keep an eye on what matters to you. Peek-in to watch live streaming video anytime, get video alerts if
                    a specific activity occurs, and watch recorded clips – all from your app.</div>
            </div>
            <!-- TEMP SENSOR -->
            <div class="divPlus temp-sensor">
                <img src="/assets/images/Orange_Circle.svg?v=184317">
            </div>
            <div class="descBlock tempSensor">
                <div class="dbClose"></div>
                <div class="dbTitle">
                    <img src="/assets/images/icn-remote-temperature.svg?v=184317">Temp Sensor</div>
                <div class="dbContent">Add a temperature sensor to any room for added temperature optimization.</div>
            </div>
            <!-- WATER SENSOR -->
            <div class="divPlus water-sensor">
                <img src="/assets/images/Orange_Circle.svg?v=184317">
            </div>
            <div class="descBlock waterSensor">
                <div class="dbClose"></div>
                <div class="dbTitle">
                    <img src="/assets/images/icn-water-valve-open.svg?v=184317">Water Sensor</div>
                <div class="dbContent">Don’t let water leaks go undetected. Get alerts if a leak is detected and avoid potentially costly water
                    damage.</div>
            </div>
            <!-- LIGHT CONTROL -->
            <div class="divPlus light-control">
                <img src="/assets/images/Orange_Circle.svg?v=184317">
            </div>
            <div class="descBlock lightControl">
                <div class="dbTitle">
                    <img src="/assets/images/icn-light-on.svg?v=184317">Light Control</div>
                <div class="dbContent">Manage lights with automatic schedules, and set rules to have lights automatically turn on in an alarm
                    event for added visibility and safety.</div>
            </div>
            <!-- WINDOW SENSOR -->
            <div class="divPlus window-sensor">
                <img src="/assets/images/Orange_Circle.svg?v=184317">
            </div>
            <div class="descBlock windowSensor">
                <div class="dbClose"></div>
                <div class="dbTitle">
                    <img src="/assets/images/icn-window.svg?v=184317" style="max-width: 21px;">Window Sensor</div>
                <div class="dbContent">Window sensors can notify you if a window is left open and communicate with your thermostat to help modify
                    the temperature setting if left open for too long.</div>
            </div>

            </div>
        </div>
    </div>
    <hr>    
    <ngb-alert [type]="alert.type" (close)="closeAlert(alert)" *ngFor="let alert of alerts">{{ alert.message }}</ngb-alert>
    <hr />
    <div class="row">
        <div class="col-lg-8">
            <div class="card card-default">
                <div class="card-header">
                    <i class="fa fa-clock-o fa-fw"></i> Responsive Timeline
                </div>
                <!-- /.card-header -->
                <app-timeline></app-timeline>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
        <!-- /.col-lg-8 -->
        <div class="col-lg-4">
            <div class="card card-default mb-3">
                <div class="card-header">
                    <i class="fa fa-bell fa-fw"></i> Notifications card
                </div>
                <!-- /.card-header -->
                <app-notification></app-notification>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->            
        </div>
        <!-- /.col-lg-4 -->
    </div>
</div>
